<h2>Borrow Books</h2>

<form asp-action="Create" method="post">

    <div>
        <label>Borrower Name</label>
        <input name="borrowerName" class="form-control" />
    </div>

    <div>
        <label>Select Books</label>

        @foreach (var book in ViewBag.Books)
        {
            <div>
                <input type="checkbox" name="bookIds" value="@book.Id" />
                @book.Title (Stock: @book.StockQuantity)
            </div>
        }
    </div>

    <button type="submit">Borrow</button>

</form>